API_URL=https://api.example.com
COOKIE_DOMAIN=example.com
EMAIL_LABEL=EXAMPLE
FRONTEND_URL=https://example.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GDRIVE_TRIPS_FOLDER_ID=
GDRIVE_HOME_PHOTOS_FOLDER_ID=
SMTP_FROM_FIRST_NAME_DEFAULT=EXAMPLE
SMTP_FROM_LAST_NAME_DEFAULT=Websystem
SMTP_FROM_EMAIL_DEFAULT=noreply@example.com
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
DEV=0
