GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GDRIVE_TRIPS_FOLDER_ID=
GDRIVE_HOME_PHOTOS_FOLDER_ID=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOSTNAME=
SMTP_PORT=
SMTP_FROM_FIRST_NAME_DEFAULT=
SMTP_FROM_LAST_NAME_DEFAULT=
SMTP_FROM_EMAIL_DEFAULT=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:4000
DEV=0
