API_URL=http://127.0.0.1.nip.io:3000
COOKIE_DOMAIN=127.0.0.1
EMAIL_LABEL=EXAMPLE
FRONTEND_URL=http://127.0.0.1.nip.io:4000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GDRIVE_TRIPS_FOLDER_ID=
GDRIVE_HOME_PHOTOS_FOLDER_ID=
SMTP_FROM_NAME_DEFAULT=EXAMPLE Websystem
SMTP_FROM_EMAIL_DEFAULT=noreply@example.com
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
DEV=0
